main.kerk-1ylionp {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto; }

@media (min-width: 640px) {
  main.kerk-1ylionp {
    max-width: none; } }

.back.kerk-un1xgx {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: hotpink;
  background-image: linear-gradient(-45deg, #61425f, #c98fd8);
  display: grid;
  place-items: center;
  transition: transform 1s; }

.box.kerk-un1xgx {
  background: white;
  border-radius: 2em;
  padding: 1em;
  margin: 1ch 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.25);
  width: var(--ideal-width); }

.span-2.kerk-un1xgx {
  grid-column-start: span 2; }

.load-quiz.kerk-un1xgx {
  color: #3f51b5; }

.new-quiz.kerk-un1xgx {
  color: #2e7d32; }

.new-quiz.kerk-un1xgx, .load-quiz.kerk-un1xgx {
  cursor: pointer;
  margin: 0 2ch;
  padding: 1ch 0.5rem;
  transition: background-color 0.2s;
  border-radius: 1em; }

.new-quiz.kerk-un1xgx:hover, .load-quiz.kerk-un1xgx:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.error.kerk-un1xgx {
  background: #af3313;
  color: #d4a4a4;
  border-radius: 1em;
  margin: 1em 2ch;
  padding: 0.5em 1ch; }

.loading.kerk-un1xgx {
  background: #8d658b;
  background-image: linear-gradient(45deg, #8d658b, #000, #8d658b);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-position-x: -100%;
  background-size: 10ch 2em;
  color: transparent;
  animation: kerk-un1xgx-loadingbg 3s ease infinite; }

@keyframes kerk-un1xgx-loadingbg {
  0% {
    background-position-x: -10ch; }
  100% {
    background-position-x: 10ch; } }

.drop.kerk-un1xgx {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center; }

p.kerk-un1xgx {
  width: 30ch; }

@media (max-width: 500px) {
  p.kerk-un1xgx {
    width: 100%; } }

svg.kerk-6o90uh {
  transform: rotate(var(--r, 0deg)) scale(var(--sx, 1), var(--sy, 1)); }

path.kerk-6o90uh {
  fill: currentColor; }
