/* Font Faces */
@font-face { font-family: Roboto; src: url(/fonts/Roboto/Roboto-Light.ttf); font-weight: 300; } @font-face { font-family: Roboto; src: url(/fonts/Roboto/Roboto-Regular.ttf); font-weight: normal 400; } @font-face { font-family: Roboto; src: url(/fonts/Roboto/Roboto-Regular.ttf); font-style: italic, oblique; } @font-face { font-family: Roboto; src: url(/fonts/Roboto/Roboto-Medium.ttf); font-weight: medium 500; } @font-face { font-family: Roboto; src: url(/fonts/Roboto/Roboto-Bold.ttf); font-weight: bold 700; }

:root {
	font-size: 18px;
	font-family: Roboto, sans-serif;

	/* VARIABLES */
	/* Colors */
	--red: #ae2334;
	--blue:  #4d65b4;
	--green:  #239063;
	--yellow: #f79617;

	--back: linear-gradient(-45deg, #6b3e75,  #45293f );


	/* Sizes */
	--ideal-width: clamp(40ch, 50%, 75ch);
}

@media screen and (max-width: 576px) {
	:root {
		--ideal-width: 100%;
	}
}